<div class="container">
  <div class="row">
    <h1 class="center_text">Terrible article show page</h1>
    <h3>Article Name: <%= @article.name %></h1>
    <h2>Article body</h2>
  <p class="lead"><%= @article.body %></p>

    <h2 class="primary">Comments section</h2>
    <% @article.comments.each do |com| %>
      <p><%= com.body %></p>
    <% end %>
    <%= link_to "New Comment", comments_new_path(article: @article.id), class: "btn btn-primary" %>
  </div>
</div>
