.new_comment {
  margin-top: 80px;
}

.center_text {
  text-align: center;
}

.thumbnail {
  width: 280px;
  height: 460px;
  overflow: scroll;
  position: relative;
  left: 40px;
}

.paginate-alignment {
  width: 100%;
}
