<div class="container">
  <div class="row">
  <h1 class="center_text"> This is a terrible authors index page. One of the worst ever. </h1>
  <nav class="center_text">
    <h3><%= link_to "Statistics", stats_index_path, class: "btn btn-primary btn-lg" %></h3>
  </nav>
  </div>
</div>

<div class="author container">
  <div class="row center_text">
    <%= paginate @authors %>
  </div>

  <div class="row">
    <%= render @authors %>
  </div>

  <div class="row paginate-alignment center_text">
    <%= paginate @authors %>
  </div>
</div>
